In [ ]:
import seaborn as sns
import pandas as pd

In [ ]:
titanic = pd.read_csv("Titanic.csv")

In [ ]:
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
titanic.shape

(891, 12)

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# 891 passengers is a moderate dataset.
# 15 features is good amount of information for ML tasks.
# Age has 177 missing values ,it requires imputation
# Columns include numerical, categorical, boolean it requires preprocessing
# Some columns (class, deck) are categorical types already
# The survived column shows:0 → did not survive ,1 → survived

In [ ]:
missing_columns = titanic.columns[titanic.isnull().any()]
print(missing_columns)

Index(['Age', 'Cabin', 'Embarked'], dtype='object')

In [ ]:
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].median())
titanic['Embarked'] = titanic['Embarked'].fillna(titanic['Embarked'].mode()[0])
titanic = titanic.drop(columns=['Cabin'])

In [ ]:
titanic.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [ ]:
duplicate_count = titanic.duplicated().sum()
titanic.shape

(891, 11)

In [ ]:
# Machine Learning models require numerical input,Prevents mathematical errors,
# One-hot encoding avoids false ordering

In [ ]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [ ]:
# Feature scaling is an essential preprocessing step because:
# It ensures all features contribute equally
# Scaling improves performance for: KNN,K-Means,SVM,Neural

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

scaler = StandardScaler()

titanic[['age_scaled_std', 'fare_scaled_std']] = scaler.fit_transform(titanic[['Age', 'Fare']])
minmax = MinMaxScaler()
titanic[['age_scaled_mm', 'fare_scaled_mm']] = minmax.fit_transform(titanic[['Age', 'Fare']])

In [ ]:
comparison = titanic[['Age', 'Fare', 'age_scaled_std', 'fare_scaled_std', 'age_scaled_mm', 'fare_scaled_mm']].head()
print(comparison)

    Age     Fare  age_scaled_std  fare_scaled_std  age_scaled_mm  \
0  22.0   7.2500       -0.565736        -0.502445       0.271174
1  38.0  71.2833        0.663861         0.786845       0.472229
2  26.0   7.9250       -0.258337        -0.488854       0.321438
3  35.0  53.1000        0.433312         0.420730       0.434531
4  35.0   8.0500        0.433312        -0.486337       0.434531

   fare_scaled_mm
0        0.014151
1        0.139136
2        0.015469
3        0.103644
4        0.015713

In [ ]:
titanic['family_size'] = titanic['SibSp'] + titanic['Parch'] + 1
titanic['is_child'] = titanic['Age'] < 18

In [ ]:
# family_size gives the model additional structure:
# Alone → likely to be ignored
# Small family → helped by social support
# Large family → overcrowded, harder to evacuate
# is_child (age < 18) shows women and children first was the evacuation priority on the Titanic.

In [ ]:
columns_to_drop = ['Ticket', 'Fare', 'Cabin', 'Embarked']

# Drop only if column exists to avoid errors
titanic = titanic.drop(columns=[col for col in columns_to_drop if col in titanic.columns])

In [ ]:
titanic = titanic.drop(columns=['SibSp', 'Parch',])

In [ ]:
titanic.drop(columns=['Age'], inplace=True)
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,age_scaled_std,fare_scaled_std,age_scaled_mm,fare_scaled_mm,family_size,is_child
0,1,0,3,"Braund, Mr. Owen Harris",male,-0.565736,-0.502445,0.271174,0.014151,2,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.663861,0.786845,0.472229,0.139136,2,False
2,3,1,3,"Heikkinen, Miss. Laina",female,-0.258337,-0.488854,0.321438,0.015469,1,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.433312,0.420730,0.434531,0.103644,2,False
4,5,0,3,"Allen, Mr. William Henry",male,0.433312,-0.486337,0.434531,0.015713,1,False

In [ ]:
# Data cleaning is critical because raw data often contains missing values, duplicates, inconsistencies,
# and irrelevant information that can distort analysis or weaken model predictions. Cleaning ensures that
# the dataset is accurate, reliable, and consistent, allowing machine learning algorithms to learn meaningful
# patterns instead of noise. Without proper cleaning, even advanced models can produce misleading or biased
# results. The cleaning step with the most impact was handling missing values—especially filling age with
# the median and dropping the deck column. Missing data directly affects how models interpret features, and
# large gaps can cause bias or errors. Replacing age with a meaningful statistic improved completeness,
# while dropping deck eliminated a column with excessively missing entries, preventing noise from entering
# the model. For a much larger or real-world dataset, I would automate and optimize the cleaning process.
# This would include using scalable tools like Spark or Dask, performing automated anomaly detection, and
# applying more sophisticated missing-value imputation techniques such as KNN imputation or model-based imputation.
# I would also introduce robust validation, logging, and monitoring pipelines to handle continuous incoming data and ensure long-term data quality.